*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/** Boot CSS**/

.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}
.w33{
    width:33.3%;
}
.w50{
    width: 50%;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear: both;
}

/** Estilização do Site **/

header{
    padding: 10px 0;
    background:#3F3E44;
}
.mobile{
    display: none;
}
nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 15p;
    text-transform: uppercase;
    display: inline-block;
}
nav.desktop a{
    color: white;
    text-decoration: none;
}
section.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url('../images/keyboard_telephone_desktop_179668_1280x720.jpg');
    background-size:cover;
    position:relative;
}
.overley{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index: index 1;
    background-color:rgba(51,51,51,0.7);
}

section.banner-principal form{
    z-index: 2;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}