*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/** Boot CSS**/

.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}
.w33{
    width:33.3%;
}
.w50{
    width: 50%;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear: both;
}

/** Estilização do Site **/

header{
    padding: 10px 0;
    background:#244372;
}
.mobile{
    display: none;
}
nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 15p;
    text-transform: uppercase;
    display: inline-block;
}
nav.desktop a{
    color: white;
    text-decoration: none;
}